
      .a{
      background-color:blue;
      text-align:center;
      width:100%;
      hight:160px;
     font-size:50px;
     border-width:18px;
    border-color:blue;
    border-style:solid;
}
       .b {
        background-color:orange;
        color:blue;
        text-align:center;
        text-decoration:underline;
       width :100%;
       height: 80px;
       font-size:30px;
       margin-top: 0px;
       padding-top:0px;
       display:inline-block;
       border-width:18px;
      border-color:red;
      border-style:solid;

     }
    .c img{
width:100%;
height:350px;
border-width:5px;
border-color:red;
border-style:solid;
}
.clr{
  float:left;

}
.d{
    overflow: hidden;
    width: 100%;
    text-align: justify;

}
.d1{

display: inline-block;
margin-top: 0px;
padding-top:0px;
width:30%;
text-align:justify;
border-width:10px;
border-color:red;
border-style:solid;
}

.footer{
  font-size:50px;
  color:blue;
  text-align: center;
}
.a1{
background-color:blue;
text-align:center;
width:100%;
hight:160px;
font-size:50px;
}
.clr{
  float: right;
}
.b1{
  width: 100%
  display:inline-block;
}

.b2{
background-color:orange;
color:blue;
text-align:left;
text-decoration:underline;
width :25%;
height: 500px;
font-size:30px;
margin-top:5px;
}
.b3{
  width:75%;
  text-align: ;
  display: inline-block;
  text-sie:10%;


}
